@media screen and (max-width: 810px) {
    .grid_container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    #sidebar{
        grid-column-start: 1;
        grid-column-end: span 3;
        grid-row-start: 1;
        grid-row-end: 1;
    }
}

@media screen and (max-width: 428px) {
    .grid_container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(16, 1fr);
    }

    #sidebar{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }
}